<ion-view view-title="CardBook">
  <div class="bar bar-header">
    <button class="button icon ion-android-search"></button>
    <h1 class="title">Card Book</h1>
    <button class="button icon ion-eye" ng-click="openChooseViewModal()"></button>
  </div>
  <div class="bar bar-subheader bar-custom-android">
    <h2 class="title" ng-click="openChooseCategoryModal()">{{activeCategoryName}} ▾</h2>

  </div>

  <ion-content class="has-header has-subheader" lazy-scroll>
    <ion-list>
      <div class="card">
        <div class="item item-calm item-text-wrap text-align-center">
          {{activeCategoryDescription}}
        </div>
      </div>

        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="card in myConnections" type="item-text-wrap" href="#/tab/cards/{{card.id}}">
          <img image-lazy-src="{{card.picture}}" image-lazy-loader="android" lazy-scroll-resize="true" image-lazy-distance-from-bottom-to-load="100">
          <h2>{{card.name}}</h2>
          <p>{{card.email}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(chat)">
            Delete
          </ion-option-button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
