<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-icon-only tabs-color-active-positive">

  <!-- Notifications Tab -->
  <ion-tab title="Notifications" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" href="#/tab/notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>


  <!-- Nearby Tab -->
  <ion-tab title="Near-By" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/nearby">
    <ion-nav-view name="tab-nearby"></ion-nav-view>
  </ion-tab>

  <!-- Cards Tab -->
  <ion-tab title="Cards" icon-off="ion-card" icon-on="ion-card" href="#/tab/cards">
    <ion-nav-view name="tab-cards"></ion-nav-view>
  </ion-tab>

  <!-- Qr Tab -->
  <ion-tab title="QR" icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" href="#/tab/qr">
    <ion-nav-view name="tab-qr"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
