<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="">
  <ion-content class=""> <!-- add padding class to ion content if needed -->



        <div class="item item-image">
            <img ng-src="{{card.picture}}" imageonload>
          </div>
          <div class="item text-center">
            <div class="nameBold">{{card.name}}</div>
            <span class="badge badge-balanced">1.2K</span>
          </div>

          <div class="item item-avatar">
            <img ng-src="{{card.companyLogo}}">
            <h2>{{card.company}}</h2>
            <p>{{card.position}}</p>
          </div>

          <div class="button-bar">
            <a class="button button-icon icon ion-social-facebook"></a>
            <a class="button button-icon icon ion-social-linkedin"></a>
            <a class="button button-icon icon ion-social-twitter"></a>
            <a class="button button-icon icon ion-social-instagram"></a>
          </div>

          <a class="item item-icon-left text-align-right" href="#">
            <i class="icon ion-android-call"></i>
            {{card.phone}}
          </a>

          <a class="item item-icon-left text-align-right" href="#">
              <i class="icon ion-email"></i>
              {{card.email}}
          </a>

          <a class="item item-icon-left item-text-wrap text-align-right" href="#">
            <i class="icon ion-ios-location"></i>
            {{card.address}}

          </a>


          <button class="button button-block button-royal">
            Share Card
          </button>




  </ion-content>
</ion-view>
