<ion-modal-view>
       <ion-header-bar class="bar bar-header bar-positive">
         <h1 class="title">Add Category</h1>
         <button class="button button-clear button-primary" ng-click="closeAddCategoryModal()">Cancel</button>
       </ion-header-bar>
       <ion-content class="padding">
         <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Category Name</span>
              <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Category Description</span>
              <input type="text" placeholder="Suhr">
            </label>
            <div class="item item-divider">
              Category Type
            </div>
            <ion-list>
              <ion-radio ng-model="choice" ng-value="'A'">General</ion-radio>
              <ion-radio ng-model="choice" ng-value="'B'">Event</ion-radio>
            </ion-list>

           <button class="button button-full button-positive" ng-click="closeAddCategoryModal()">Add</button>
         </div>
       </ion-content>
</ion-modal-view>
