<ion-modal-view>
    <ion-header-bar class="bar-positive">
          <button class="button icon ion-android-add" ng-click="openAddCategoryModal()"></button>
      <h1 class="title">Categories</h1>
      <button class="button button-clear button-primary" ng-click="closeChooseCategoryModal()">Cancel</button>
    </ion-header-bar>
    <ion-content>

      <ion-list>
          <ion-radio name="activeCategory" ng-model="activeCategory" ng-value="all" ng-click="updateCategoryFullById('all'); closeChooseCategoryModal()">All</ion-radio>
          <div class="item item-divider">
            Categories
          </div>
          <ion-radio name="activeCategory" ng-repeat ="category in myCategories" ng-model="activeCategory" ng-value="category.id" ng-click="updateCategoryFullById(category.id); closeChooseCategoryModal()">{{category.name}}</ion-radio>


          <div class="item item-divider">
            Events
          </div>


  </ion-content>
  </ion-modal-view>
