<ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">View</h1>
      <button class="button button-clear button-primary" ng-click="closeChooseViewModal()">Done</button>
    </ion-header-bar>
    <ion-content>

      <ion-list>


          <div class="item item-divider">
            View Type
          </div>
          <ion-radio name="viewType" ng-model="viewType" ng-value="'A'">List</ion-radio>
          <ion-radio name="viewType" ng-model="viewType" ng-value="'B'">Card</ion-radio>
          <ion-radio name="viewType" ng-model="viewType" ng-value="'C'">Face</ion-radio>
          <div class="item item-divider">
            Sort By
          </div>
          <ion-radio name="sortBy" ng-model="sortBy" ng-value="'D'">A-Z</ion-radio>
          <ion-radio name="sortBy" ng-model="sortBy" ng-value="'E'">Z-A</ion-radio>
          <ion-radio name="sortBy" ng-model="sortBy" ng-value="'F'">Recently Added</ion-radio>
          <ion-radio name="sortBy" ng-model="sortBy" ng-value="'G'">Birthday</ion-radio>
          <ion-radio name="sortBy" ng-model="sortBy" ng-value="'H'">Company</ion-radio>

  </ion-content>
  </ion-modal-view>
