/* Empty. Add your own CSS if you like */
/*
.platform-android .bar-custom-android{
   top: 93px;
 }
*/
.text-align-center{
  text-align: center;
}

.image-loader-container {  // Spinner for lazy loader
  margin: 9px;
  max-width: 81px;
  max-height: 81px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.text-align-right{
  text-align:right;
}

.nameBold{
  font-size: 1.2em;
  font-weight: bold;
}
