<ion-view view-title="qr">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <button class="button icon-left ion-home" ng-click="scanQr()">Scan</button>
    <img ng-src="{{generateQr('alan','200')}}">
    </ion-list>
  </ion-content>
</ion-view>
